.movie {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 25px;
}

.movie:nth-child(2n - 1) {
  background-color: #d8d8d8;
}

.movie__column:first-child {
  height: 270px;
}

.movie__coverImg {
  width: 180px;
  margin-right: 30px;
}

.movie__title {
  font-size: 30px;
}

.movie__title a {
  color: black;
  text-decoration: none;
}

.movie__title a:hover {
  color: #0096fa;
}

.movie__summary {
  margin-top: 5px;
  font-size: 17px;
}

.movie__genres {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.movie__genres li {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #2ecc71;
  user-select: none;
  transition: transform 0.5s;
}

.movie__genres li:hover {
  transform: scale(1.15);
}
